* {
    box-sizing: border-box;
    margin: 0;
}


/*NAVBAR*/

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    position: absolute;
}

.navbar-nav,
.mr-auto {
    flex: 1;
    margin-left: 10% !important;
    margin-right: 10% !important;
    display: flex;
    justify-content: space-between;
}

.nav-link:hover {
    color: #fc0161;
    cursor: pointer;
}


/*HOME*/

.section1 {
    background: url("./assets/img/backgrounds/3.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

.titleSection1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title1 {
    color: white;
    text-shadow: 9px 4px 27px rgba(0, 0, 0, 1);
    text-decoration: none;
    display: inline-block;
    animation: slide-in-left 1s linear;
}

.titleTag1 {
    color: #fc0161;
    background-image: -webkit-linear-gradient(45deg, #fc0161 21%, #765bc2 50%, #16a8fe 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 9px 4px 27px rgba(0, 0, 0, 0.6);
    -webkit-animation: text-flicker-in-glow 2s linear 1s both;
    animation: text-focus-in 0.7s linear 1s both;
}

.tagline1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    animation: slide-in-right 1s linear;
}

@media only screen and (max-width: 576px) {
    .titleSection1 {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
    .title1 {
        color: white;
        text-shadow: 9px 4px 27px rgba(0, 0, 0, 1);
        text-decoration: none;
        display: inline-block;
        animation: slide-in-left 2s linear;
    }
    .titleTag1 {
        color: #fc0161;
        background-image: -webkit-linear-gradient(45deg, #fc0161 21%, #765bc2 50%, #16a8fe 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 9px 4px 27px rgba(0, 0, 0, 0.6);
        -webkit-animation: text-flicker-in-glow 2s linear 1s both;
        animation: text-focus-in 0.7s linear 2s both;
    }
    .tagline1 {
        color: white;
        text-shadow: 2px 2px 2px black;
        animation: slide-in-right 2s linear;
    }
}


/*ABOUT ME*/

.section2 {
    background: url("./assets/img/backgrounds/bg1.png") no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: rgb(12, 13, 14);
    background: linear-gradient(180deg, rgb(10, 11, 12) 0%, rgba(12, 13, 14, 1) 30%, rgba(26, 26, 26, 1) 100%); */
}

.title2 {
    color: white;
    text-shadow: 9px 4px 27px rgba(0, 0, 0, 1);
    text-decoration: none;
    display: inline-block;
}

.titleTag2 {
    color: #8819FC;
    background-image: -webkit-linear-gradient(45deg, #fc0161 21%, #765bc2 50%, #16a8fe 100%);
    background-clip: text;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.77);
}

.tagLine2 {
    color: #FF0D61;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.77);
}

.buttonCustom {
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #fc0161;
    padding: 5px 20px;
    border: solid #fc0161 2px;
    border-radius: 50px;
    transition: 1000ms;
    cursor: pointer;
}

.buttonCustom:hover {
    transition: 1000ms;
    background-color: #fff;
    color: black;
    border: solid 2px #AD01F3;
    padding-left: 23px;
    padding-right: 23px;
}

.imgAvatar {
    -webkit-filter: drop-shadow(15px 15px 15px #222);
    filter: drop-shadow(15px 15px 15px #222);
}

.form {
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.77);
}

.scrollBtn {
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #fc0161;
    padding: 15px 20px;
    border: solid #fc0161 2px;
    border-radius: 50px;
    transition: 1000ms;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

.scrollBtn:hover {
    transition: 1000ms;
    background-color: #fff;
    color: black;
    border: solid 2px #AD01F3;
    padding: 20px 25px;
}


/*SKILLS*/

.section3 {
    background: url("./assets/img/backgrounds/4.png") no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title3 {
    color: white;
    text-shadow: 9px 4px 27px rgba(0, 0, 0, 1);
    text-decoration: none;
}

.textTitle3 {
    color: #2ECC71;
    /* transform: skew(7deg, 0); */
    text-shadow: 9px 4px 27px rgba(0, 0, 0, 1);
}

.textContent3 {
    color: white;
    text-shadow: 9px 4px 27px rgba(0, 0, 0, 1);
}

.box {
    border: 3px solid #696969;
    border-radius: 12px;
    background-color: rgba(34, 34, 34, .9);
    margin-bottom: 10px;
}

.progress {
    margin: 20px;
}


/*RESUME*/

.section4 {
    background: url("./assets/img/backgrounds/5.jpg") no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.timelineContainer {
    background: rgba(255, 255, 255, 0.35);
    color: white;
    border-radius: 0px 40px 0px 40px;
    margin-bottom: 20px;
}

.dateEvent {
    margin: 20px;
}

.tlCont {
    border-left: 5px solid #6F5DC0;
}

.timelineTitle {
    margin: 20px;
    font-size: 16px;
}

.timelineTagline {
    margin-left: 20px;
    font-size: 12px;
}


/*PROJECTS*/

.section5 {
    background-image: url("./assets/img/backgrounds/5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.card {
    color: none;
}

.card-img-overlay {
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.card-img-overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.card-img-overlay:hover {
    opacity: 1;
    height: 104%;
    transform: translateY(0);
    animation: text-focus-in 0.2s linear;
}

.card:hover {
    display: block;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.25s;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media only screen and (min-width: 576px) {
    .card {
        width: 100%;
    }
    .card:hover {
        height: 50vh
    }
    .card-img-overlay button {
        margin: auto;
        text-align: center;
        width: 50%;
        padding: 1px;
    }
}

@media only screen and (max-width: 576px) {
    .card {
        width: 100%;
    }
    .card:hover {
        height: 20vh
    }
    .card-img-overlay button {
        margin: auto;
        text-align: center;
        width: 50%;
        padding: 1px;
    }
    .card-title {
        margin: auto;
        text-align: center;
    }
    .card-text {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
    .card:hover {
        height: 30vh
    }
    .card-img-overlay button {
        margin: auto;
        text-align: center;
        width: 50%;
        padding: 1px;
    }
    .card-title {
        margin: auto;
        text-align: center;
    }
    .card-text {
        margin: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    .card {
        width: 100%;
    }
    .card:hover {
        height: 30vh
    }
    .card-img-overlay button {
        width: 50%;
        padding: 1px;
    }
    .card-title {
        margin: auto;
        text-align: center;
    }
    .card-text {
        margin: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 100%;
    }
    .card:hover {
        height: 30vh
    }
    .card-img-overlay button {
        width: 50%;
        padding: 1px;
    }
    .card-title {
        margin: auto;
        text-align: center;
    }
    .card-text {
        margin: auto;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 100%;
    }
    .card:hover {
        height: 30vh
    }
    .card-img-overlay button {
        margin: auto;
        text-align: center;
        width: 50%;
        padding: 1px;
        margin-bottom: 15px;
    }
    .card-title {
        margin: auto;
        text-align: center;
    }
    .card-text {
        margin: auto;
        text-align: center;
    }
}


/*CONTACT*/

.invalid-feedback {
    color: red;
    animation: tracking-in-expand 0.5s linear;
}

.section6 {
    background-color: #1A1A1A;
    height: 100vh;
}

.formBox {
    border: 3px solid #696969;
    border-radius: 12px;
    background-color: rgba(34, 34, 34, .9);
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}


/*KEYFRAMES*/

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
